---
import { Image } from 'astro:assets';
import { getLocaleFromUrl, useTranslations } from '../../i18n/utils';
import heroImage from '../../assets/hero.png';

const currentLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currentLocale);
---

<div
  class="bg-zinc-950 px-8 py-24 lg:px-20 xl:p-24 relative text-white overflow-hidden flex items-end justify-start"
  style="height: calc(100svh - 6rem);"
>
  <Image
    class="absolute h-full w-full inset-0 object-cover z-0 opacity-20 user-none"
    src={heroImage}
    alt="Hero background"
  />
  <span class="flex relative flex-col gap-6 max-w-[768px]">
    <h1 class="text-3xl sm:text-5xl xl:text-6xl font-bold">
      {t.hero.description}
    </h1>
  </span>
</div>
