---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  class:list={['px-4 sm:px-8 xl:px-24 py-16 xl:py-24', className && className]}
>
  <div class="max-w-[1440px] mx-auto">
    <slot />
  </div>
</section>
